*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}
#game__container {
  text-align: center;
  padding: 3rem;
}

#game__header {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: 2.2px;
}

#game__cells {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 22rem;
  margin: auto;
}

.game__cell {
  width: 8rem;
  height: 8rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  cursor: pointer;
}
.game__cell:nth-of-type(-1n + 6) {
  border-bottom: none;
}
.game__cell:nth-of-type(-1n + 8):not(
    :nth-of-type(-3n + 6)
  ) {
  border-right: none;
}

.game__footer {
  margin-top: 2rem;
}
#game__status {
  font-size: 2rem;
  letter-spacing: 2.2px;
}

#game__restart {
  padding: 1rem 2.5rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  cursor: pointer;
}
